@model TrashCollection.Models.CustomerInfoViewModel
@{
    ViewBag.Title = "My Profile ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
&nbsp;
@*<h4>Please fill out your information below.</h4>*@
<hr />
    @Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Zipcode, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })
    </div>
</div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
&nbsp;
<p><a class="btn btn-default" href="http://localhost:1760/Calendar/Index">View my schedule &raquo;</a></p>